<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div class="col offset-9" th:fragment="logout">
    <form th:action="@{/logout}" method="post">
        <button type="button" class="mt-2 col-auto btn btn-light"
                th:onclick="|location.href='@{/}'|">홈으로</button>
        <button type="button" class="mt-2 col-auto btn btn-light"
                th:onclick="|location.href='@{/post}'|">게시판</button>
        <button type="submit" class="mt-2 col-auto btn btn-light">로그아웃</button>
    </form>
</div>
</body>
</html>