<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div th:replace="~{header/logout :: logout}"></div>

<br>
<div class="px-5 gap-2 col-10 mx-auto">
    <div class="d-grid gap-2 mx-auto">
        <button type="button" class="btn btn-primary btn-lg"
                th:onclick="|location.href='@{/post/add}'|">글쓰기
        </button>
        <form th:action="@{/post}" method="get" th:object="${postSearch}">
            <div class="row">
                <div class="col"></div>
                <div class="col-2">
                    <select name="searchType" class="form-select">
                        <!--                        <option value="">==검색 조건==</option>-->
                        <option th:if="*{searchType}" th:value="*{searchType}" th:text="*{searchType}"></option>
                        <option th:unless="${type} == *{searchType}" th:each="type : ${searchType}" th:value="${type}"
                                th:text="${type}"></option>
                    </select>
                </div>
                <div class="col-3">
                    <input type="text" id="searchWord" class="w-100 form-control" placeholder="검색어"
                           th:field="*{searchWord}">
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary btn-lg">검색
                    </button>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>작성자</th>
                            <th>제목 [댓글]</th>
                            <th>작성일</th>
                            <th>좋아요</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="post : ${postListDto}">
                            <td th:text="${post.membername}"></td>
                            <td>
                                <a th:href="@{/post/{post_id}(post_id=${post.id})}"
                                   th:text="|${post.title} [${post.commentNum}]|"></a>
                            </td>
                            <td th:text="${#temporals.format(post.createdDate)}"></td>
                            <td th:text="${post.heartNum}"></td>
                        </tr>
                        </tbody>
                    </table>


                    <button th:unless="${hasPrevious}" type="button" class="btn btn-outline-dark btn-sm">이전</button>
                    <button th:if="${hasPrevious}" type="submit" name="page" th:value="${currentPage - 2}"
                            class="btn btn-outline-dark btn-sm">이전</button>

                    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <button th:if="${page == currentPage}" name="page" th:value="${page - 1}" type="submit"
                                th:text="|[ ${page} ]|" class="btn btn-link btn-sm"></button>
                        <button th:if="${page != currentPage}" name="page" th:value="${page - 1}" type="submit"
                                th:text="${page}" class="btn btn-link btn-sm"></button>
                    </th:block>

                    <button th:if="${hasNext}" type="submit" name="page" th:value="${currentPage}"
                            class="btn btn-outline-dark btn-sm">다음</button>
                    <button th:unless="${hasNext}" type="button" class="btn btn-outline-dark btn-sm">다음</button>

                </div>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>