<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
<div th:replace="~{header/logout :: logout}"></div>

<br>
<div class="px-5 gap-2 col-10 mx-auto">
    <div class="d-grid gap-2 mx-auto">
        <button type="button" class="btn btn-primary btn-lg"
                th:onclick="|location.href='@{/post/add}'|">글쓰기
        </button>
        <br>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>작성자</th>
                        <th>제목 [댓글]</th>
                        <th>작성일</th>
                        <th>좋아요</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="post : ${postListDto}">
                        <td th:text="${post.membername}"></td>
                        <td>
                            <a th:href="@{/post/{post_id}(post_id=${post.id})}"
                               th:text="|${post.title} [${post.commentNum}]|"></a>
                        </td>
                        <td th:text="${#temporals.format(post.createdDate)}"></td>
                        <td th:text="${post.heartNum}"></td>
                    </tr>
                    </tbody>
                </table>

                <button th:if="${hasPrevious}" type="button" th:onclick="|location.href='@{/post(page=${currentPage}-2)}'|">이전</button>
                <button th:unless="${hasPrevious}" type="button">이전</button>
                <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <a th:if="${page == currentPage}" th:href="@{/post(page=${page - 1})}" th:text="|[ ${page} ]|"></a>
                    <a th:if="${page != currentPage}" th:href="@{/post(page=${page - 1})}" th:text="${page}"></a>
                </th:block>
                <button th:if="${hasNext}" type="button" th:onclick="|location.href='@{/post(page=${currentPage})}'|">다음</button>
                <button th:unless="${hasNext}" type="button">다음</button>

            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>